@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Righteous&display=swap');

html, body, main{
    margin:0;
    padding:0;

    
    height:100%;
}


h1{
    padding:0px;
    margin:0px;
    font-family: 'Righteous', sans-serif;
    -webkit-text-stroke: 0.1px #56412D;
    font-size: 4.375rem;
    line-height: 60px;
}

p{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;;
    font-size: 1.1875rem;
}

.background-titre{
    max-width: 100%;
    height: 100%;
    background-image: url('assets/img/Placeholder.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 0px;
    
}
.background-corps{
    max-width: 100%;
    height: 100%;
    background-image: url('assets/img/arton32-1450x800-c.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 0px;
    
    
}



.bulle-titre{
    display: block;
    position: absolute;
    background-color: #EEEAE2;
    border: solid 0.2em;
    border-color: #56412D;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 250px;
    left: 0px;
    max-width: 513px;
    
}
.bulle-titre h1{
    color: #81B2CC;
    
}

.icons{
    position: absolute;
    top: 0px;
}

.toggle{
    
  }
.menu{
    
   
    
  }

.tooltip {
    visibility: hidden;
    position: fixed;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8));
    color: #333;
    padding: 50px;
    bottom: 0;
    left: 0; /* Fixe le tooltip en bas et à gauche du site */
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateY(100%); /* Initial position, translate it from the bottom */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  
  .tooltip h3 {
    margin-right: 200px;
  }

  
  .menu:hover .tooltip {
    visibility:visible;
    
    height: 30px;
    justify-content: right;
    opacity: 1;
    transform: translateY(0); /* Le tooltip reste fixé en bas à gauche du site */

  }
  
  




.carrousel1{
    width: 450px;
    position: absolute;
    
    
}

.container-active{
    width: 450px;
    position: absolute;
    display:inline-block;
    background-color: #EEEAE2;
    border: solid 0.2em;
    border-color: #56412D;
    left: 70px;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    top: 600px;
}

.container{
    visibility: hidden;
    position: absolute;
    display:inline-block;
}

.trait{
    position: relative;
    margin-top: 25px;
    cursor: pointer;
    width: 22px;
}

#un{
    margin-right: 5px;
}

#deux{
    margin-right: 5px;

}
#trois{
    
}


/*Animation*/

.chateau{
position: absolute;
right: 250px;
top: 1050px;
}
.flamme{
position: absolute;
top: 1900px;
right: 100px;
}
.chien{
position: absolute;
top: 2100px;
left: 30px;
}